@import "https://fonts.googleapis.com/css?family=Lato:400,700";

:root {
    --transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #eee;
  font-family: "Lato", sans-serif;
}
#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: #eee;
}
li {
  list-style: none;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  margin: 10px;
}
#header-img {
  width: 300px;
  height: 34.14px;
  margin: 0 70px;
}
#form-container {
  text-align: center;
  margin-top: 60px;
}
#form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.6rem;
}
#email {
  width: 275px;
  height: 29px;
}
#submit {
  height: 30px;
  width: 150px;
  margin: 15px 0px;
  padding: 0 20px;
  background-color: #f1c40f;
  border: 0;
  font-weight: bolder;
  font-size: 1.3rem;
  border-radius: 3px;
}
#features {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  text-align: center;
  margin-bottom: 6rem;
}
#video {
  width: 100%;
  margin-bottom: 4rem;
}
#pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product {
  text-align: center;
  border: 1px solid;
  height: 311px;
  width: 300px;
  margin-bottom: 7px;
}
.level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}
.price {
  padding: 15px 0;
}
.btn {
  height: 30px;
  width: 150px;
  margin: 15px 0px;
  padding: 0 20px;
  background-color: #f1c40f;
  border: 0;
  font-weight: 200;
  font-size: 1.3rem;
  border-radius: 3px;
}
footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}
footer > ul {
  display: flex;
  justify-content: flex-end;
}
footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
.link {
  text-decoration: none;
  color: black;
}
.nav-link {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 800px) {
  #pricing {
    flex-direction: row;
    gap: 1rem;
  }
  #how-it-works {
    display: flex;
    justify-content: center;
  }
  #video {
    height: 315px;
    width: 560px;
    object-fit: contain;
  }
}
.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
    height: 0px;
    overflow: hidden;
    transition: var(--transition);
}
.show-links {
    height: 80.2px;
    overflow: visible;
}